[project]
	description = Deploying contrail with orchestration system using docker for test purposes.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/ajayhn
[access "refs/for/refs/*"]
	read = group user/ajayhn
	push = group user/ajayhn
	label-Code-Review = -2..+2 group user/ajayhn
	label-Verified = -1..+1 group user/ajayhn
	rebase = group user/ajayhn
	removeReviewer = group user/ajayhn
	submit = group user/ajayhn
[access "refs/heads/*"]
	read = group user/ajayhn
	create = group user/ajayhn
	push = +force group user/ajayhn
	pushMerge = group user/ajayhn
[access "refs/tags/*"]
	push = group user/ajayhn
	push = +force group user/ajayhn
